<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    Thong
    <a href="http://localhost:8080/abs" target="_blank">Thông</a>
    <div>
        <img class="thongmai" src="/images/thongmai.jpg">
    </div>
</body>

</html>